{% extends 'admin/base_admin.html' %}

{% block content %}
<h2 class="pt-5">Manage Products</h2>
<table border="1" cellspacing="0" class="table table-light">
<thead class="table-primary">
	<tr>
		<th>S/N</th>
		<th>Product Name</th>
		<th>Product Price</th>
		<th>Category</th>
		<th>Description</th>
		<th>Product Creation Date</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
	{% for p in prod_deets %}
	<tr>
		<td>{{loop.index}}.</td>
		<td>{{p.product_name}}</td>
		<td>{{p.product_price}}</td>
		<td>{{p.prod_cat.category_name}}</td>
		<td>{{p.product_desc}}</td>
		<td>{{p.date_added}}</td>
		<td>
			<a href="{{url_for('delete_product',id=p.product_id)}}" class="btn btn-danger" onclick="return confirm('Do you really want to delete this product?')"><i class="fa fa-trash"></i>Delete</a>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock content %}