{% extends 'admin/base_admin.html' %}

{% block content %}
<h2>Manage Users</h2>
<div class="p-0 m-0">
<table border="1" cellspacing="0" class="table table-light">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact No.</th>
            <th>State of Residence</th>
            <th>City</th>
            <th>Address</th>
            <th>Date Registered</th>
        </tr>
    </thead>
    <tbody>
        {% for u in user_deets %}
        <tr>
            <td>{{u.user_id}}.</td>
            <td>{{u.user_fname}}</td>
            <td>{{u.user_lname}}</td>
            <td>{{u.user_email}}</td>
            <td>{{u.user_phone}}</td>
            <td>{{u.user_state.state_name}}</td>
            <td>{{u.user_city}}</td>
            <td>{{u.user_address}}</td>
            <td>{{u.user_datereg}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock content %}