{% extends "user/base.html" %}
{% block style%}
<style>
.login_form{
    border: 1px solid #be9e44;
    border-radius:20px;
    box-shadow: 3px 2px 1px #be9e44;
}
</style>
{% endblock %}
{% block banner %}
<div class="offset-1 col-md-5 my-5 mx-5 login_form">
    <h2 class="pt-5">Request for Password Reset</h2>
    {% with message = get_flashed_messages() %}
        {% if message %}
            {% for m in message: %}
                <div class="alert alert-info">{{m}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{url_for('password_reset')}}" method="post">
        <div class="my-3">
            <label class="form-label">New password:</label>
            <input type="password" name="newpwd" class="form-control" placeholder="Enter a new password">
        </div>
        <div class="my-3">
            <input type="hidden" name="token" class="form-control" placeholder="Enter your token">
        </div>
        <div class="mb-3 text-center">
            <button class="btn w-100 btn-outline-dark btn-warning btn-lg">Submit</button>
        </div>
    </form>
</div>
<div class="col-md-3">
</div>
{% endblock %}